h1 {
    color:red;
    text-align: center;
    font-size: large;
    font-style: oblique;
}
.introduction{
    background-color: aquamarine;
}
body {
    background-color: chartreuse;
}
h2 {
    font-style: initial;
    text-align: left;
    color: black;

}